{% extends 'oracion.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleTareaActiva.css') }}">
{% endblock head %}

{% block contenido %}
    <section class="botones-peticiones">
        <button>Agregar nueva Tarea</button>
        <button>Mostrar Tareas Activas</button>
        <button>Mostrar Tareas Finalizadas</button>
    </section>
    
    <section class="contenido-tareas">
        {% if tareas %}
            {% if not tareas | selectattr('isActive', 'equalto', 'True') | list %}
                <p>No hay tareas disponiblesasdsad.</p>
            {% else %}
                    {% for tarea in tareas %}
                        {% if tarea['isActive'] == "True" %}
                            <div class="contenedor-peticion">
                                <div class="peticion">
                                    <div class="titulo">
                                        <h2>{{ tarea['titulo'] }}</h2>
                                    </div>
                                    <div class="botones">
                                        <ion-icon name="hand-right" onclick="sumarOracion('{{ loop.index }}')"></ion-icon>
                                        {% if rol == 'Admin'  %}
                                            <ion-icon name="checkmark-circle" onclick="marcarCompleta('{{ loop.index }}')"></ion-icon>
                                        {% endif %}
                                        <ion-icon id="desc" name="chevron-forward-circle"
                                        onclick="toggleDescripcion(this)"></ion-icon>
                                    </div>
                                </div>
                                <div class="descripcion">
                                    {{ tarea['descripcion'] }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
            {% endif %}
        {% else %}
            <p>No hay tareas disponibles.</p>
        {% endif %}
        {% if tareas %}
            {% if not tareas | selectattr('isActive', 'equalto', 'False') | list %}
                <p>No hay oraciones respondidas</p>
            {% else %}
                <div class="contenedor-peticiones">
                    {% for tarea in tareas %}
                        {% if tarea['isActive'] == "False" %}
                            <div class="contenedor-peticion">
                                <div class="peticion">
                                        <div class="titulo">
                                            <h2>{{ tarea['titulo'] }}</h2>
                                        </div>
                                    <div class="botones">
                                        <ion-icon id="desc" name="chevron-forward-circle"
                                        onclick="toggleDescripcion(this)"></ion-icon>
                                    </div>
                                </div>
                                <div class="descripcion">
                                    <strong>Descripción: </strong>{{ tarea['descripcion'] }} <br>
                                    <strong>Fecha de inicio: </strong>{{ tarea['fechaInicio'] }} <br>
                                    <strong>Fecha de respuesta: </strong>{{ tarea['fechaFinal'] }} <br>
                                    <strong>Testimonio: </strong>{{ tarea['testimonio'] }} <br>
                                    <strong>El número de veces que alguien oro por esta petición fue de: </strong>{{ tarea['total'] }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <p>No hay tareas disponibles.</p>
        {% endif %}
    </section>
{% endblock contenido %}

{% block script %}
{{ super() }}
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/mostrarTareaActiva.js') }}"></script>
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
{% endblock script %}